[project]
	description = Tool to automate bash movie-making with asciinema. Be the Spielberg of bash.
[access "refs/*"]
  read = group spielbash-core
  owner = group spielbash-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group spielbash-core
	label-Code-Review = -2..+2 group spielbash-ptl
	label-Verified = -2..+2 group spielbash-ptl
	label-Workflow = -1..+1 group spielbash-core
	label-Workflow = -1..+1 group spielbash-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group spielbash-ptl
	read = group spielbash-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group spielbash-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
